.icon {
    height: 45px;
    border-radius: 50%;
    /* pure needs fix*/
}
/*todo fix*/
/*.pure-menu-heading {*/
    /*text-transform: uppercase;*/
    /*color: #565d64;*/
/*}*/

@media screen and (max-width: 600px) {
    .pure-menu-heading {
        display: none;
        /* pure needs fix*/
    }
}
