<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="../../pure-release-1.0.0/pure-min.css">
</head>

<body>
    <div class="pure-menu pure-menu-horizontal pure-menu-fixed navbar">
        <img src="abstergo.jpg" class="pure-menu-heading">
        <ul class="pure-menu-list navbar-list">
            <li class="pure-menu-item"><button class="navbar-button">Главная</button></li>
            <li class="pure-menu-item"><button class="navbar-login-button">Логин</button></li>
        </ul>
    </div>

    <div class="container">
        <div class="posts">
            <div class="post">
                <header class="post-header">Основы электробезопасности при проектировании электронных устройств</header>
                <div class="post-content">
                    <p>
                        После волны, поднятой моим предыдущим постом, довольно заметное число людей спрашивали меня (в
                        фейсбуке, в личке и т.п.), на что, собственно, обращать внимание, чтобы вместо умной розетки на
                        ардуино не получить очередной тазик-эвтаназик.


                        Тема это большая и сложная, но я постараюсь выделить основные моменты — не в последнюю очередь
                        на
                        основании ошибок, которые я видел во всевозможных реальных устройствах и проектах, в том числе
                        публиковавшихся на Хабре. Я не буду долго и нудно перечислять ГОСТы, но перечислю совсем
                        базовые
                        вещи, которые необходимо понимать и соблюдать, чтобы не убить хотя бы себя (если вы планируете
                        не
                        убивать также и окружающих, то после завершения этой статьи не поленитесь пролистать и
                        релевантные
                        ГОСТы).
                        После волны, поднятой моим предыдущим постом, довольно заметное число людей спрашивали меня (в
                        фейсбуке, в личке и т.п.), на что, собственно, обращать внимание, чтобы вместо умной розетки на
                        ардуино не получить очередной тазик-эвтаназик.


                        Тема это большая и сложная, но я постараюсь выделить основные моменты — не в последнюю очередь
                        на
                        основании ошибок, которые я видел во всевозможных реальных устройствах и проектах, в том числе
                        публиковавшихся на Хабре. Я не буду долго и нудно перечислять ГОСТы, но перечислю совсем
                        базовые
                        вещи, которые необходимо понимать и соблюдать, чтобы не убить хотя бы себя (если вы планируете
                        не
                        убивать также и окружающих, то после завершения этой статьи не поленитесь пролистать и
                        релевантные
                        ГОСТы).

                        После волны, поднятой моим предыдущим постом, довольно заметное число людей спрашивали меня (в
                        фейсбуке, в личке и т.п.), на что, собственно, обращать внимание, чтобы вместо умной розетки на
                        ардуино не получить очередной тазик-эвтаназик.





                    </p>
                </div>
            </div>
            <div class="post">
                <header class="post-header">Основы электробезопасности при проектировании электронных устройств</header>
                <div class="post-content">
                    <p>
                        После волны, поднятой моим предыдущим постом, довольно заметное число людей спрашивали меня (в
                        фейсбуке, в личке и т.п.), на что, собственно, обращать внимание, чтобы вместо умной розетки на
                        ардуино не получить очередной тазик-эвтаназик.


                        Тема это большая и сложная, но я постараюсь выделить основные моменты — не в последнюю очередь
                        на
                        основании ошибок, которые я видел во всевозможных реальных устройствах и проектах, в том числе
                        публиковавшихся на Хабре. Я не буду долго и нудно перечислять ГОСТы, но перечислю совсем
                        базовые
                        вещи, которые необходимо понимать и соблюдать, чтобы не убить хотя бы себя (если вы планируете
                        не
                        убивать также и окружающих, то после завершения этой статьи не поленитесь пролистать и
                        релевантные
                        ГОСТы).
                        После волны, поднятой моим предыдущим постом, довольно заметное число людей спрашивали меня (в
                        фейсбуке, в личке и т.п.), на что, собственно, обращать внимание, чтобы вместо умной розетки на
                        ардуино не получить очередной тазик-эвтаназик.


                        Тема это большая и сложная, но я постараюсь выделить основные моменты — не в последнюю очередь
                        на
                        основании ошибок, которые я видел во всевозможных реальных устройствах и проектах, в том числе
                        публиковавшихся на Хабре. Я не буду долго и нудно перечислять ГОСТы, но перечислю совсем
                        базовые
                        вещи, которые необходимо понимать и соблюдать, чтобы не убить хотя бы себя (если вы планируете
                        не
                        убивать также и окружающих, то после завершения этой статьи не поленитесь пролистать и
                        релевантные
                        ГОСТы).

                        После волны, поднятой моим предыдущим постом, довольно заметное число людей спрашивали меня (в
                        фейсбуке, в личке и т.п.), на что, собственно, обращать внимание, чтобы вместо умной розетки на
                        ардуино не получить очередной тазик-эвтаназик.





                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <p>Life is nothing but a game</p>
    </div>
</body>

</html>
