.navbar-button {
    height: 50px;
    background-color: #555555;
    border: 1px;
    border-color: white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    /* vertical centering */
    /* margin:auto;  */
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    /* Safari */
}

.navbar-button:hover {
    background-color: white;
    color: rgb(31, 31, 31);
    /* border:  */
}