.navbar {
    width: 100%;
    height: 60px;
    background-color: rgb(31, 31, 31);
    position: relative;
}

.navbar-list {
    float: right;
}

div {
    display: block;
}

.navbar-list li {
    margin-top: 20px;
    margin-right: 10px;
}


/* todo fix */
/*.pure-menu-horizontal {*/
    /*width: 100%;*/
    /*white-space: nowrap;*/
/*}*/

/*.pure-menu-fixed {*/
    /*position: fixed;*/
    /*left: 0;*/
    /*top: 0;*/
    /*z-index: 3;*/
/*}*/
