.card-footer {
    padding: .75rem 1.25rem;
    background-color: rgba(0,0,0,.03);
    border-top: 1px solid rgba(0,0,0,.125);
}

.content {
    display: flex!important;
    box-sizing: border-box;
}

.button-block {

}
