.card-section {
    /*display: -ms-flexbox;*/
    display: flex;
    /*-ms-flex-wrap: wrap;*/
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.card-body {
    padding: 10px;
}
/*читай 822724*/

h5 {
    padding-left: 20px;
    font-size: medium;
}

p {
    display: block;
    padding-left:30px;
    padding-right:30px;
    line-height: 1.5;
}
