/*header {*/
    /*display: block;*/
    /*padding-top:15px;*/
    /*padding-left:50px;*/
    /*padding-bottom: 5px;*/
    /*border-left: 6px solid rgb(31, 31, 31);*/
    /*text-transform: uppercase;*/
    /*font-weight: 400;*/
/*}*/
